@import url(./_contact.css);
@import url(./_nav.css);
@font-face {
    font-family: vazir-bold;
    src: url(../fonts/Vazirmatn-Bold.woff2);
}
@font-face {
    font-family: vazir;
    src: url(../fonts/Vazirmatn-Light.woff2);
}

body{
    direction: rtl;
    font-family: vazir;
}

.container-fluid-custom{
    background-color: rgb(1,1,126);
    color: #fff;
}


.icon{
    display: none;
}

@media screen and (max-width:600px){

    .mynavi a:not(:first-child){
        display: none;
    }
    .mynavi.responsive{
        position: relative;
    }
    .mynavi a.icon{
        display: block;
        float: left;
        
        
    }
    .mynavi.responsive a.icon{
        top: 0;
        left: 0;
        position: absolute;
        
    }
    
    .mynavi.responsive a{
       
            display: block;
            float: none;
            text-align: right;
       
    }
}

figure{
    position: relative;
}
figure img {
    display: block;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    
}

figure .card{
    max-width:300px;
    background-color: antiquewhite;
    padding: 20px;
    margin: 260px;
    border-radius: 10px;
    height: 200px;
}

figure .card .card-header h1{
    color: black;
}

figure .card .card-body p{
    color: rgb(26, 24, 24);
}

figure .card .card-body div{
    margin-top: 20px;
    float: left;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;

}

@media screen and (max-width:965px){
    figure .card{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    }
    figure .card .card-body p, .card .card-body div{
        font-size: 14px;
    }
    figure .card .card-header h1{
        font-size: 16px;
    }

}
.section-title span{
    position: relative;
    /* display: inline-block; */
}
.section-title span::before{
    content: '';
    width: 40px;
    height: 4px;
    background-color: orange;
    position: absolute;
    top: 15px;
    right: -49px;
}
.section-title span::after{
    content: '';
    width: 40px;
    height: 4px;
    background-color: orange;
    position: absolute;
    top: 15px;
    right: 135px;
}
.card .card-header img{
    filter: brightness(0.5);
}
.card-body .product-title a{
    font-size: 16px;
    
    text-decoration: none;
}
.card-body .product-title{
    padding-right: 20px;
}
.card-body .product-title p{
    font-size: 14px;
    
}

.product .card{
    box-shadow: 2px 2px 2px red;
   
}
.about-us-wrapper{
    
    background-color: antiquewhite;
    padding: 80px;
    border-radius: 15px 10px 30px 50px;
    min-height: 100%;
}
.about-us-wrapper h4{
    margin-bottom: 20px;
    font-size: 22px;
}
.about-us-wrapper p{
    margin-bottom: 40px;
}
.about-us-wrapper a{
    text-decoration: none;
    color: #fff;
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 4px 2px 6px 8px;
    float: left;
    margin-left: 30px;
    font-size: 20px;
    transition: 0.5s ease-in;
}
.about-us-wrapper a:hover{
    border-radius: 8px 12px 6px 11px;
}

.team-intro{
    background-color: #fff;
    position: absolute;
    top: 90%;
    left: 50%;
    border-radius: 5px;
    padding: 30px;
    transform: translate(-50%);
    border: 1px solid rgb(237, 156, 7);  
    width: 80%;
    text-align: center;
}
.team-intro h5{
    font-size: 22px;
    margin-bottom: 15px;
}
.team-intro a{
    border:2px solid orange;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 3px;
    
    
    transition: background-color 2s ease-in;
}
.team-intro a:hover{
    background-color: orangered;
}

.products-views{
    background-color: rgb(228, 228, 26);
    text-align: center;
    
}
.products-views .pr{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.products-views .pr i:first-child{
    margin-top: 40px;
}

.products-views .count{
    margin : 40px 0;
}
.new-product .card{
    padding: 10px;
    box-shadow: 3px 7px 29px -11px rgba(0,0,0,0.54);
}
.new-product .card img{
    transition: 2s ease-in;

}
.new-product .card:hover img{
    transform: scale(1.2) rotate(10deg);
}

.new-product .card-header{
    overflow: hidden;
}
.new-product .card-body{
    position: relative;
}

.new-product .card-body .card-date{
    position: absolute;
    top: -25px;
    left: 111px;
}

.new-product .card-body .card-date :first-child{
    background-color: orange;
}
.new-product .card-body .card-date :last-child{
    background-color: rgb(108, 107, 105);
}
.new-product .card-footer{
    text-align: center;
}
.new-product .card-footer div{
    display: inline;
    margin: 15px;
}

.faq-wrapper .faq-title{
    text-align: center;
}
.faq-wrapper .faq-title h4{
    position: relative
}
.faq-wrapper .faq-title h4::before{
    content: '';
    width: 50px;
    height: 8px;
    background-color: orangered;
    position: absolute;
    top: 10px;
    right: 521px
}
.faq-wrapper .faq-title h4::after{
    content: '';
    width: 50px;
    height: 8px;
    background-color: orangered;
    position: absolute;
    top: 10px;
    right: 646px
}

.faq-wrapper .right-wrapper{
    background-color: aliceblue;
    height: 300px;
    box-shadow: 3px 7px 29px -11px rgba(0,0,0,0.54);
    border-radius: 10px;
    padding: 100px;
   

}
.faq-wrapper .right-wrapper ul li{
    margin: 20px;
}
.faq-wrapper .right-wrapper ul li i{
    font-size: 32px;
    vertical-align: -10px;
    color: #706f6f;
    margin-left: 20px;
}

.faq-left-side .tabs {
    background-color: #efdf03;
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
}

.faq-left-side .tabs .tab label{
background-color: #0680e4;
width: 100%;
display: block;
cursor: pointer;
}


.faq-left-side .tabs .tab label::after{
    content: '\276f';
    float: left;
}
.faq-left-side .tabs .tab .answer{
    height: 0;
    transition: 1s ease-in-out;
    
    overflow: hidden;
}
.faq-left-side .tabs .tab .answer p {
    padding: 10px;
}
.faq-left-side .tabs .tab input{
    display: none;
}
.faq-left-side .tabs .tab input:checked ~ .answer{
    height: 80px;
}

.faq-left-side .tabs .tab label{
    padding: 10px;
    overflow: hidden;
}