@import url(./_contact.css);
@import url(./_nav.css);
@font-face {
    font-family: vazir-bold;
    src: url(../fonts/Vazirmatn-Bold.woff2);
}
@font-face {
    font-family: vazir;
    src: url(../fonts/Vazirmatn-Light.woff2);
}

body{
    direction: rtl;
    font-family: vazir;
}

.container-fluid-custom{
    background-color: rgb(1,1,126);
    color: #fff;
}


.icon{
    display: none;
}

@media screen and (max-width:600px){

    .mynavi a:not(:first-child){
        display: none;
    }
    .mynavi.responsive{
        position: relative;
    }
    .mynavi a.icon{
        display: block;
        float: left;
        
        
    }
    .mynavi.responsive a.icon{
        top: 0;
        left: 0;
        position: absolute;
        
    }
    
    .mynavi.responsive a{
       
            display: block;
            float: none;
            text-align: right;
       
    }
}

figure{
    position: relative;
}
figure img {
    display: block;
}
figure .overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    
}

.card{
    max-width:300px;
    background-color: antiquewhite;
    padding: 20px;
    margin: 260px;
    border-radius: 10px;
    height: 200px;
}

.card .card-header h1{
    color: black;
}

.card .card-body p{
    color: rgb(26, 24, 24);
}

.card .card-body div{
    margin-top: 20px;
    float: left;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;

}

@media screen and (max-width:965px){
    .card{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    }
    .card .card-body p, .card .card-body div{
        font-size: 14px;
    }
    .card .card-header h1{
        font-size: 16px;
    }

}
   